.tasks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3rem; 

}

.tasks > * {
    flex-basis: 31%;
    margin: 0.5rem;


}

.tasks {
    background-color: var(--white);
    border: 1px solid var(--outline);
    border-radius: 0.5rem;
    padding: 1rem;

}

section.task {
    margin: 3rem

}

.task-info {
    color: var(--info);
    font-family: "Roboto", sans-serif;

}

.task-footer {
    margin: 1rem 0 0.25rem 0;
    font-style: oblique;

}

.task-header {
    font-size: larger;
    font-weight: 700;
    line-height: 3rem;
    color: var(--primary);


}